{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h3>Cash Balance:{{</h3>
    <h3>Total Holdings: </h3>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        </tbody>
    </table>
{% endblock %}