{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h3>Cash Balance: {{ cash | usd }}</h3>
    <h3>Total Holdings: {{ holdings | usd }}</h3>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock["symbol"]}}</td>
                    <td>{{ stock["quantity"]}}</td>
                    <td>{{ stock["value"] | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}