{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ quote["symbol"] }}</td>
                    <td>{{ quote["name"] }}</td>
                    <td>{{ quote["price"] }}</td>
                </tr>
        </tbody>
    </table>
{% endblock %}