{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in quote %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["price"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}