{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol">
            {% for stock in portfolio %}
            <option value="{{ stock["symbol"] }}">{{ stock["symbol"] }}</option>
            {% endfor %}
        </select>
        <input autocomplete="off" autofocus name="shares" placeholder="Amount" type="text">
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}